/*! saiyo v1.0.0 | MIT License */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$fonts: (
  'primary': 'Open Sans'
);

$colors: (
  'primary': #B4FFFE,
  'blue': #B4FFFE,
  'green': #E0FFB4,
  'cream': #FCFBE3
);

@import 'config';
@import 'variables';
@import 'functions';
@import 'mixins';
// @import 'scss/minireset';
// @import 'scss/generic';
// @import 'scss/other';
// @import 'scss/components';
// @import 'scss/containers';
// @import 'scss/elements';
// @import 'scss/utilities';


html, body {
  font-size: $baseline;
}

// @import 'node_modules/font-awesome/scss/font-awesome.scss';